<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>編集</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" />
</head>
<body>
	<!-- 表題 -->
	<div id="main" class="container">
		<table border="0" width="100%">
			<tr>
				<td align="center" class="title"><label
					for="billboard_table_name">掲示板</label><label>編集</label></td>

			</tr>
		</table>
	</div>
	<!-- 表見出し  -->
	<div id="input-area" class="container">
		<form th:action="@{/billboards/edit}" th:object="${BillBoardsForm}"
			method="post">
			<table class="table table-bordered table-narrow">
				<colgroup>
					<col width="300px" />
				</colgroup>
				<tr>
					<td class="bg-primary"><label for="title">タイトル</label></td>

				</tr>
				<tr>
					<td><input type="text" class="form-control" id="title"
						name="title" th:field="*{title}" value="aa" /></td>
				</tr>
				<tr>
					<td class="bg-primary"><label for="billboard_note">内容</label></td>
				</tr>
				<tr>
					<td><textarea class="form-control" cols="80" id="note"
							name="note" rows="20" th:field="*{note}">
</textarea></td>
				</tr>
				<tr>
					<td class="bg-primary"><label for="billboard_group_id">分類</label></td>
				</tr>
				<tr>
					<td><select class="form-control" id="billboard_group_id"
						name="billboard_group_id" value=""><option value=""></option>
							<option selected="selected" value="1">通達／連絡</option>
							<option value="2">会議開催について</option>
							<option value="3">スケジュール</option>
							<option value="4">イベント</option>
							<option value="9">その他</option></select></td>
				</tr>
			</table>
		</form>
		<!-- ボタン領域 -->
		<div class="fcenter">
			<form th:action="@{/billboards/edit}" th:object="${BillBoardsForm}"
				method="post">
				<input type="hidden" name="id" th:value="${param.id[0]}" /> <input
					type="submit"
					class="btn btn-primary buttonglyphicon glyphicon-circle-arrow-down"
					name="button" value="登録" />
			</form>
			<form th:action="@{/billboards/delete}" method="post">
				<input class="btn btn-primary button glyphicon glyphicon-trash"
					type="submit" value="削除" /> <input type="hidden" name="id"
					th:value="${param.id[0]}" />
			</form>

			<input type="submit"
				class="btn btn-success button glyphicon glyphicon-remove"
				name="goToTop" value="キャンセル" />
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
		th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script src="http://maxcdn.bootstrap/3.3.7/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>